<div class="workout">
    <p><%= @workout.date %></p>
    <p><%= @workout.workout %></p>
    <p><%= @workout.length %></p>
    <p><%= @workout.comments %></p><br>
    <%= link_to "Edit", edit_workout_path %>
    
</div>